<% provide(:title,("Home")) %>
  <% if false %>
    <% if logged_in? %>
      <div class="row">
        <aside class="col-md-4">
          <section class="user_info">
            <%= render 'shared/user_info' %>
          </section>
          <section class="micropost_form">
            <%= render 'shared/micropost_form' %>
          </section>
        </aside>
        <div class="col-md-8">
          <h3>Micropost Feed</h3>
          <%= render 'shared/feed' %>
        </div>
      </div>
    <%end %>
    <%# else %><% end %>
    <div class="center jumbotron">
      <h2>
        <%= link_to image_tag("logo.jpg",size:"52x42" , alt: "Shop logo"), 'http://rubyonrails.org/' %>
        Welcome to dopeshop!

      </h2>

      <% if !logged_in? %>
        <%= link_to "Log in", login_path, class: "btn btn-lg btn-success" %>
        <strong >
          or
        </strong>
        <%= link_to "Sign up", signup_path, class: "btn btn-lg btn-primary" %>
      <% end %>
    </div>

    <%= render 'shared/products' %>
    <%# end %>
