<% provide(:title, 'All users') %>
  <div class="center jumbotron">
  <h2>
    <% if params[:search].blank?  %>
      All users (<%= @users.count %>)
    <%else %>
      Found => [
      <%= pluralize(@users.count, " ] user") %>
    <%end %>
  </h2>

  <div class="input-group" id="adv-search">
    <%= form_tag(users_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search by user name..." , class: "form-control" %>
    <%= submit_tag "Search" , class: "form_submit"%>
  <% end %>
</div>
</div>

<%= will_paginate %>

<% if @users.present? %>
  <ul class="users">
    <%= render @users %>
  </ul>
<%else %>
  <p>
    <br/><br/><hr/>
    There are no users containing the term(s) => [
    <strong><%= params[:search] %></strong>
    ] .
  </p>
<%end %>

<%= will_paginate %>
