<% provide(:title, 'All users') %>
  <h1>All users (<%= @users.count %>)</h3>
</h1>

<div class="input-group" id="adv-search">
  <%= form_tag(users_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search..." , class: "form-control" %>
  <%= submit_tag "Search" , class: "form_submit" , type: "button"%>
<% end %>
</div>

<%= will_paginate %>

<ul class="users">
  <%= render @users %>
</ul>

<%= will_paginate %>
