<h3>
  Order ID
  <%= order.id %>
  , User ID
  <%= order.user_id %></h3>
<p>
  <strong>Name:</strong>
  <%= User.find_by(id:order.user_id).name %></p>
<p>
  <strong>Email:</strong>
  <%= User.find_by(id:order.user_id).email %></p>
<p>
  <strong>Description:</strong>
  <%= order.description %></p>
<p>
  <strong>Pay_method:</strong>
  <%= order.pay_method %></p>
<p>Line Items:
</p>
<ul>
  <% order.line_items.each do |item| %>
    <li><%= item.quantity %>
      x
      <%= item.product.name %></li>
  <% end %>
  <br/>
</ul>
<hr/>
