<div class="center jumbotron">
  <%= form_for(@order) do |f| %>
  <p style="margin-top:25px">
    <%= f.label :pay_method %><br>
    <%= f.text_field :pay_method, required: true, autofocus: true %>
  </p>
  <p>
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.submit "Finish Order"%>
  </p>
<% end %>

</div>
