<div class="center jumbotron">
  <p>
    Your Card => Total Items (<%= @cart.line_items.count %>)
  </p>
  <ul class="users">
    <% @cart.line_items.each do |line_item| %>
      <%= render line_item.product %>
      <li>Quantity:
        <%= line_item.quantity %>
        | Total Price:
        <%= number_to_currency(line_item.total_price) %>
        <!-- See lineItem section below for explanation of line_item links -->
        <ul>
          <!-- <li> -->
          <!-- <%#= link_to "Add one", line_item_add_path(:id => line_item), method: :post %> -->

          <!-- reduce -->
          <%=link_to line_item_reduce_path(:id => line_item) , method: :post, class: "btn btn-danger" , style: "margin-top:15px;" do %>
          <i class="glyphicon glyphicon-minus" style="color:black;"></i>
          Reduce
        <% end %>

        <!-- add -->
        <%=link_to line_item_add_path(:id => line_item) , method: :post , class: "btn btn-success" , style: "margin-top:15px;" do %>
        <i class="glyphicon glyphicon-plus" style="color:black;"></i>
        Add
      <% end %>

      <!-- Remove -->
      <%=link_to line_item_path(line_item) ,method: :delete ,class: "btn btn-warning" , style: "margin-top:15px;" do %>
      <i class="glyphicon glyphicon-remove" style="color:black;"></i>
      Remove Item
    <% end %>

    <!-- <%#= link_to "Reduce one", line_item_reduce_path(:id => line_item), method: :post %> -->
    <!-- </li> -->
    <!-- <li> -->
    <%#= link_to "Remove item", line_item_path(line_item), method: :delete %>
      <!-- </li> -->
       <hr />
    </ul>

  <% end %>
</ul>
<h3>Total price:
<%= number_to_currency(@cart.sub_total) %></h3>
<!-- See Order section below for explanation of new_order_path -->
<%= link_to "Empty cart", cart_path(@current_cart),method: :delete, data: {confirm: "Are you sure?"} %>
|
<%= link_to "Proceed to checkout", new_order_path %>
</div>
