<div class="container">
  <div class="card">
    <div class="container">
      <div class="wrapper row">
        <div class="preview col-md-6">

          <div class="preview-pic tab-content">
            <div class="tab-pane active" id="pic-1">
              <%= render 'product_image' , :product => @product%>
            </div>
            <div class="tab-pane" id="pic-2">
              <%= render 'product_image' , :product => @product%>
            </div>
            <div class="tab-pane" id="pic-3">
              <%= render 'product_image' , :product => @product%>
            </div>
          </div>
          <ul class="preview-thumbnail nav nav-tabs">
            <li class="active">
              <a data-target="#pic-1" data-toggle="tab"><%= render 'product_image' , :product => @product%></a>
            </li>
            <li>
              <a data-target="#pic-2" data-toggle="tab"><%= render 'product_image' , :product => @product%></a>
            </li>
            <li>
              <a data-target="#pic-3" data-toggle="tab"><%= render 'product_image' , :product => @product%></a>
            </li>
          </ul>
        </div>
        <div class="details col-md-6">
          <h3 class="product-title"><%= @product.name %></h3>
          <div class="rating">
            <div class="stars">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
            </div>
            <span class="review-no">41 reviews</span>
          </div>
          <p class="product-description"><%= @product.description %></p>
          <h4 class="price">current price:
            <span>$<%= @product.price %></span></h4>
          <p class="vote">
            <strong>91%</strong>
            of buyers enjoyed this product!
            <strong>(87 votes)</strong>
          </p>
          <h5 class="sizes">sizes:
            <span class="size" data-toggle="tooltip" title="small">s</span>
            <span class="size" data-toggle="tooltip" title="medium">m</span>
            <span class="size" data-toggle="tooltip" title="large">l</span>
            <span class="size" data-toggle="tooltip" title="xtra large">xl</span>
          </h5>
          <h5 class="colors">colors:
            <span class="color orange not-available" data-toggle="tooltip" title="Not In store"></span>
            <span class="color green"></span>
            <span class="color blue"></span>
          </h5>
          <div class="action">

            <%if !@current_cart.products.include?(product)%>
              <%# if logged_in? %>
                <!-- Add to Basket -->
                <%=button_to line_items_path(:product_id => product.id), class: "btn btn-warning" , style: "margin-top:15px;" , params:{productID: product.id} do %>
                <i class="glyphicon glyphicon-plus" style="color:black;"></i>
                Add to Basket
              <% end %>
              <%# end %>
              <%else %>

                <!-- See lineItem section below for explanation of line_item links -->
                <ul class="users">
                  <!-- <li> -->
                  <!-- <%#= link_to "Add one", line_item_add_path(:id => line_item), method: :post %> -->

                  <!-- reduce -->
                  <%=link_to line_item_reduce_path(:id =>@current_cart.line_items.find_by(product_id: product.id)) , method: :post, class: "btn btn-danger" , style: "margin-top:15px;" do %>
                  <i class="glyphicon glyphicon-minus" style="color:black;"></i>
                  Reduce
                <% end %>

                <!-- add -->
                <%=link_to line_item_add_path(:id => @current_cart.line_items.find_by(product_id: product.id)) , method: :post , class: "btn btn-success" , style: "margin-top:15px;" do %>
                <i class="glyphicon glyphicon-plus" style="color:black;"></i>
                Add
              <% end %>

              <!-- Remove -->
              <%=link_to line_item_path(@current_cart.line_items.find_by(product_id: product.id)) ,method: :delete ,class: "btn btn-warning" , style: "margin-top:15px;" do %>
              <i class="glyphicon glyphicon-remove" style="color:black;"></i>
              Remove Item
            <% end %>

            <li>Quantity:
              <%= @current_cart.line_items.find_by(product_id: product.id).quantity %>
              | Total Price:
              <%= number_to_currency(@current_cart.line_items.find_by(product_id: product.id).total_price) %>
              <hr class="style18"/>
          </ul>
        <%end %>
      </p>

      <p>

        <!-- Only Admin is allowed to modify products -->
        <% if logged_in? && current_user.admin? %>
          <%= link_to edit_product_path(product) do %>
          <i class="glyphicon glyphicon-pencil" style="color:darkgray"></i>
          Edit
        <% end %>
        or
        <!-- Basket -->
        <%= link_to product, method: :delete, data: { confirm: 'Are you sure?' } do %>
        <i class="glyphicon glyphicon-fire" style="color:firebrick"></i>
        Destroy
      <% end %>
    <% end %>
  </p>
</div>
</div>
</div>
</div>
</div>
</div>
