<li>

  <%= link_to product do%>
  <% if product.picture? %>
    <%= image_tag product.picture.url %>
  <% else %>
    <%= image_tag "no_image.png", size:"150x150" %>
  <%end%>
<%end %>

<strong>
  Name :
</strong>
<%= product.name %>
,<strong>
  Description :
</strong>
<%= product.description %>
<strong>
  Price :
</strong>
<%= product.price %>
$

<p>
  <%# if logged_in? %>
    <!-- Add to Basket -->
    <%=button_to line_items_path(:product_id => product.id), :remote => true , class: "btn btn-warning" , style: "margin-top:15px;" , params:{productID: product.id} do %>
    <i class="glyphicon glyphicon-plus" style="color:black;"></i>
    Add to Basket
  <% end %>
  <%# end %>
  </p>

  <p>

    <!-- Only Admin is allowed to modify products -->
    <% if logged_in? && current_user.admin? %>
      <%= link_to edit_product_path(product) do %>
      <i class="glyphicon glyphicon-pencil" style="color:darkgray"></i>
      Edit
    <% end %>
    or
    <!-- Basket -->
    <%= link_to product, method: :delete, data: { confirm: 'Are you sure?' } do %>
    <i class="glyphicon glyphicon-fire" style="color:firebrick"></i>
    Destroy
    <% end %>
    <% end %>
  </p>
</li>
