<p id="notice"><%= notice %></p>

<div class="center jumbotron">
  <p>
    <strong>Name:</strong>
    <%= @product.name %>
  </p>
  <p>
    <% if @product.picture? %>
      <%= image_tag @product.picture.url %>
    <%  else %>
      <%= image_tag "no_image.png", size:"150x150" %>
    <%end%>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @product.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= @product.price %> $
  </p>

  <% if logged_in? && current_user.admin? %>
    <%= link_to 'Edit', edit_product_path(@product) %>
    |
    <%= link_to 'Back', products_path %>
  <% end %>

  <!-- Add to Basket -->
  <%= link_to root_url , class: "btn btn-warning" , style: "margin-top:15px;" do %>
  <i class="glyphicon glyphicon-plus" style="color:black;"></i>
  Add to Basket
<% end %>

</div>
