<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav>
      <%= link_to image_tag("logo2.png",size:"52x42" , alt: "Rails logo"), 'http://rubyonrails.org/' %>
      <%= link_to "Dope Shop 2018 ~ ", root_path, id: "logo" %>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to root_path do %>
          <i class="glyphicon glyphicon-home"></i>
          Home
        <% end %>
      </li>
      <li><%= link_to products_path do %>
        <i class="glyphicon glyphicon-shopping-cart"></i>
        Products
      <% end %>
    </li>
    <% if logged_in? %>
      <li><%= link_to users_path do %>
        <i class="glyphicon glyphicon-sunglasses"></i>
        Users
      <% end %>
    </li>
    <li class="dropdown">
      <li><%= link_to "#", { :class => 'dropdown-toggle', 'data-toggle' => 'dropdown', 'data-placement' => 'top', :title => 'Account', 'data-original-title' => 'Account' } do %>
        <i class="glyphicon glyphicon-user"></i>
        Account
        <b class="caret"></b>
      <% end %>

      <ul class="dropdown-menu">
        <li><%= link_to current_user do %>
          <i class="glyphicon glyphicon-eye-open"></i>
          Profile
        <% end %>
      </li>
      <li><%= link_to edit_user_path(current_user) do %>
        <i class="glyphicon glyphicon-cog"></i>
        Settings
      <% end %>
    </li>
    <li class="divider"></li>
    <li>
      <li><%= link_to logout_path, method: :delete do %>
        <i class="glyphicon glyphicon-off"></i>
        Log out
      <% end %>
    </li>
  </li>
</ul>
</li>
<% else %>
<li><%= link_to "Log in", login_path %></li>
<% end %>
</ul>
</nav>
</div>
</header>
