<nav class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to image_tag("logo2.png",size:"52x42" , alt: "Rails logo"), root_path %>
      <%= link_to "Dope Shop", root_path, id: "logo" %>
    </div>
    <!-- On big screens -->
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <!-- Search Bar -->
        <li></li>
        <!-- Home -->
        <li><%= link_to root_path do %>
          <i class="glyphicon glyphicon-home"></i>
          Home
        <% end %>
      </li>

      <!-- Users -->
      <% if logged_in? %>

        <li><%= link_to users_path do %>
          <i class="glyphicon glyphicon-sunglasses"></i>
          Users
        <% end %>
      </li>

      <li class="dropdown">
        <li><%= link_to "#", { :class => 'dropdown-toggle', 'data-toggle' => 'dropdown', 'data-placement' => 'top', :title => 'Account', 'data-original-title' => 'Account' } do %>
          <!-- <i class="glyphicon glyphicon-user"></i> -->
          <i class="glyphicon glyphicon-shopping-cart" style="color:#FFD700"></i>
          Basket
          <span class="badge badge-pill badge-warning" id="total_cart_items_badge"><%= @current_cart.line_items.count %></span>
          |
          <i class="glyphicon glyphicon-eye-open" style="color:firebrick"></i>
          Orders
          <span class="badge badge-pill badge-warning"><%= @current_user.orders.count %></span>
          <b class="caret"></b>
        <% end %>

        <ul class="dropdown-menu">

          <!-- Basket -->
          <li><%= link_to cart_path(@current_cart) do %>
            <i class="glyphicon glyphicon-shopping-cart" style="color:#FFD700"></i>
            Basket
          <% end %>
        </li>

        <!-- Orders -->
        <li><%= link_to orders_path do %>
          <i class="glyphicon glyphicon-eye-open" style="color:firebrick"></i>
          Orders
        <% end %>
      </li>

    </li>
  </ul>
</li>

<!-- Account -->
<li class="dropdown">
  <li><%= link_to "#", { :class => 'dropdown-toggle', 'data-toggle' => 'dropdown', 'data-placement' => 'top', :title => 'Account', 'data-original-title' => 'Account' } do %>
    <!-- <i class="glyphicon glyphicon-user"></i> -->
    <%= gravatar_for @current_user, size: 20 %>
    Account
    <b class="caret"></b>
  <% end %>

  <!-- Profile -->
  <ul class="dropdown-menu">
    <li><%= link_to current_user do %>
      <i class="glyphicon glyphicon-eye-open"></i>
      Profile
    <% end %>
  </li>
  <!-- Setting -->
  <li><%= link_to edit_user_path(current_user) do %>
    <i class="glyphicon glyphicon-cog"></i>
    Settings
  <% end %>
</li>
<!-- Logout -->
<li class="divider"></li>
<li>
  <li><%= link_to logout_path, method: :delete do %>
    <i class="glyphicon glyphicon-off"></i>
    Log out
  <% end %>
</li>
</li>
</ul>
</li>

<% else %>

<!-- Log In -->
<li><%= link_to login_path do %>
<i class="glyphicon glyphicon-log-out"></i>
Log In
<% end %>
</li>

<% end %>

</ul>
</div>
</div></nav>
