<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">

    <nav>
      <%= link_to image_tag("rails.png", size: "42x42" ,alt: "Rails logo"), 'http://rubyonrails.org/' %>
      <%= link_to "E-Commerce Shop", root_path, id: "logo" %>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Help", helf_path  %></li>
        <li><%= link_to "Log in", login_path %></li>
      </ul>
    </nav>
  </div>
</header>
